// Specific CSS for your home-page
.banner {
  background-image: url("https://res.cloudinary.com/dovu27lye/image/upload/v1566247166/mohamed-thasneem-AOFlegU1eTs-unsplash_srtwvi.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner-container {
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-explore {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-host {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-explore:hover, .btn-host:hover {
  opacity: 1;
}
