<div class="footer container border-top pt-5">
  <div class="footer-top d-flex justify-content-between align-items-start border-bottom pb-3">
    <div class="category">
      <p>Palm</p>
      <li><a href="">Careers</a></li>
      <li><a href="">News</a></li>
      <li><a href="">Policies</a></li>
      <li><a href="">Help</a></li>
      <li><a href="">Diversity & Belonging</a></li>
    </div>
    <div class="category">
      <p>Discover</p>
      <li><a href="">Trust & Safety</a></li>
      <li><a href="">Gift cards</a></li>
      <li><a href="">Palm Citizen</a></li>
      <li><a href="">Business Travel</a></li>
      <li><a href="">Guidebooks</a></li>
    </div>
    <div class="category">
      <p>Hosting</p>
      <li><a href="">Why Host</a></li>
      <li><a href="">Hospitality</a></li>
      <li><a href="">Responsible Hosting</a></li>
      <li><a href="">Community Center</a></li>
      <li><a href="">Open Homes</a></li>
    </div>
    <div class="category">
      <div class="footer-icons">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
      <li><a href="">Terms</a></li>
      <li><a href="">Privacy</a></li>
      <li><a href="">Site Map</a></li>
    </div>
  </div>
  <div class="footer-bottom text-center mt-3">
    <p>&copy 2019 Palm, Inc. All rights reserved.</p>
  </div>
</div>
