
<div class="container d-flex flex-wrap justify-start">
  <% @islands.each do |island| %>
    <%= link_to island_path(island) do %>
      <div class="card-product">
        <div class="card-product-infos">
          <img src="https://res.cloudinary.com/dovu27lye/image/upload/v1566247165/michael-DXQB5D1njMY-unsplash_ow9s7s.jpg" />
          <h2><%= island.name %></h2>
          <p> Location: <%= island.location %></p>
          <p><%= island.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

