<div class="banner">
  <div class="banner-container ml-5">
    <h1>Need an island?</h1>
    <p>Palm is here for you!</p>
    <a class="btn-explore" href="#">Explore</a>
    <a class="btn-host" href="#" >Host</a>
  </div>
</div>

