<div class="banner">
  <div class="banner-container ml-5">
    <h1>Need an island?</h1>
    <p>Palm is here for you!</p>
    <a class="btn-explore" href="#">Explore</a>
    <a class="btn-host" href="#" >Host</a>
  </div>
</div>

<div class="container mt-5">
  <h1 class="text-center">Islands available for next week</h1>
  <div class="container d-flex flex-wrap justify-content-center">
    <div class="card-product">
      <div class="card-product-infos">
        <h2> Island name</h2>
        <p> Location : 14 rue Crespin du Gast</p>
        <p> Description : Nice island</p>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos">
        <h2> Island name</h2>
        <p> Location : 14 rue Crespin du Gast</p>
        <p> Description : Nice island</p>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos">
        <h2> Island name</h2>
        <p> Location : 14 rue Crespin du Gast</p>
        <p> Description : Nice island</p>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos">
        <h2> Island name</h2>
        <p> Location : 14 rue Crespin du Gast</p>
        <p> Description : Nice island</p>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos">
        <h2> Island name</h2>
        <p> Location : 14 rue Crespin du Gast</p>
        <p> Description : Nice island</p>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos">
        <h2> Island name</h2>
        <p> Location : 14 rue Crespin du Gast</p>
        <p> Description : Nice island</p>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos">
        <h2> Island name</h2>
        <p> Location : 14 rue Crespin du Gast</p>
        <p> Description : Nice island</p>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos">
        <h2> Island name</h2>
        <p> Location : 14 rue Crespin du Gast</p>
        <p> Description : Nice island</p>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos">
        <h2> Island name</h2>
        <p> Location : 14 rue Crespin du Gast</p>
        <p> Description : Nice island</p>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos">
        <h2> Island name</h2>
        <p> Location : 14 rue Crespin du Gast</p>
        <p> Description : Nice island</p>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos">
        <h2> Island name</h2>
        <p> Location : 14 rue Crespin du Gast</p>
        <p> Description : Nice island</p>
      </div>
    </div>
    <div class="card-product">
      <div class="card-product-infos">
        <h2> Island name</h2>
        <p> Location : 14 rue Crespin du Gast</p>
        <p> Description : Nice island</p>
      </div>
    </div>
  </div>
</div>


