.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  color: black !important;
  width: 245px;
  padding: 0px 0px 20px 0px;
}

a:hover {
  text-decoration: none !important;
}

.card-product img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 10px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  opacity: .7;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-reservation {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  margin: 10px;
  color: black !important;
  padding: 0px 0px 20px 0px;
  width: 360px;
  height: 160px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

