.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 320px;
  height: 280px;
  margin: 10px;
  color: black !important;
  padding: 0px 0px 20px 0px;
  align-items: center;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip a {
  color: black !important;
}

.card-reservation {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  margin: 10px;
  color: black !important;
  padding: 0px 0px 20px 0px;
  width: 360px;
  height: 160px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-island {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  margin: 10px;
  color: black !important;
  padding: 0px 0px 20px 0px;
  width: 360px;
  height: 160px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-product {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 600px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 80px;
}

